.fascinate-regular {
  font-family: 'Fascinate', system-ui;
  font-weight: 400;
  font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name */

.workbench-metro {
  font-family: 'Workbench', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'BLED' 0, 'SCAN' 0;
}

* {
  font-family: 'Workbench', sans-serif;
  background-color: lightblue;
}

h1 {
  color: #2360a5;
  margin: 30px;
  
  /* background-color: bisque; */
  text-align: center;
  /* border-style: solid; */
  border-width: 3px;
  border-radius: 20px;
  /* border-color: black; */
}
.SubwayContainer {
  text-align: center;
  /* border-color: black;
  border-style: solid;
  border-radius: 100px;
  border-width: 5px; */
  height: 800px;
  overflow-y: scroll;
  /* background-color: white; */
}

.totalBox {
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  transition: all 0.3s;
  
  /* overflow: scroll; */
  /* border-style: solid; */
  /* margin: 10px; */
  /* background-color: white; */
}

/* .totalBox:hover{
  transform: translate(0%,-5%);
} */

.subwayLine {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: whitesmoke; */
  border-style: solid;
  border-radius: 100px;
  grid-column: 1;
  /* color: white */
  /* grid-row: span 2; */
  display: flex;
  margin-right: 10px;
  align-items: center; /* Center vertically */
  justify-content: center;
  /* box-shadow: 7px 7px 7px 0px; */
  box-shadow: 7px 7px 7px 0px rgb(109, 137, 146);
}

.status {
  text-align: center;
  border-style: solid;
  justify-content: center;
  border-radius: 35px;
  grid-column: 2/6;
  margin-bottom: 10px;
  /* grid-row: 1; */
  /* box-shadow: 7px 7px 7px 0px; */
  padding: 5px;
  /* background-color: white; */
  box-shadow: 7px 7px 7px 0px rgb(109, 137, 146);
}

.additionalInformation {
  text-align: center;
  border-style: solid;
  border-radius: 35px;
  height: 100px;
  grid-column: 2/6;
  /* grid-row: 2; */

  padding: 5px;
}

/* accessiblity styling */

.accessibilityTotalComponent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-style: 2px solid;
  background-color: lightblue;
  padding: 10px;
}

.station {
  display: flex;
  justify-content: center;
  grid-column: 1;
  border: 2px black;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 5px;
  width: 130px;
  margin-left: 150px;
  box-shadow: 10px 5px 5px black;
  animation: fadeInUp 1s ease forwards;
  /* animation: rotateAnimation 1s linear forwards; */
  position: absolute;
  margin-top: 200px;
}

.trainNo {
  grid-column: 2;
  grid-row: 1;
  padding: 10px;
  border: 2px solid #2ecc71;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 10px;
  margin-right: 100px;
  animation: fadeInUp 1s ease forwards;
  /* animation: rotateAnimation 1s linear forwards */
}

.outageDates {
  grid-column: 2;
  grid-row: 2;
  padding: 10px;
  border: 2px solid #2ecc71;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 10px;
  margin-right: 100px;
  animation: fadeInUp 1s ease forwards;
}

.estimatedReturntoService {
  grid-column: 2;
  grid-row: 3;
  padding: 10px;
  border: 2px solid #2ecc71;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 10px;
  margin-right: 100px;
  animation: fadeInUp 1s ease forwards;
}

.ADA {
  grid-column: 2;
  grid-row: 4;
  padding: 10px;
  border: 2px solid #2ecc71;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 10px;
  margin-right: 100px;
  animation: fadeInUp 1s ease forwards;
  /* animation: rotateAnimation 1s linear forwards */
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
}

/* button styling */

#buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 15px;
}

#button1 {
  border-color: #ee252e;
  /* border-width: 4px; */
  color: white;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom:5px;
  height: 100px;
  transition: all 0.2s;
  font-size: 27px;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* box-shadow: 0px 4px 2px 0px; */
  background-color:  #ee252e;
}

#button1:active {
  background-color: #93191f;
}

/* #button1:hover{
  transform: translate(8px);
} */

#button2 {
 
  border-color: #00933c;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom:5px;
  height: 100px;
  font-size: 27px;
  transition: all 0.2s;
  color: white;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* box-shadow: 0px 4px 2px 0px; */
  background-color: #00933c;
}

#button2:active {
  background-color: #014d1f;
}
#button3 {
  background-color: #b933ad;
  color: white;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom:5px;
  height: 100px;
  font-size: 27px;
  transition: all 0.2s;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* box-shadow: 0px 4px 2px 0px; */
  
}
#button3:active {
  background-color: #76206e;
}

#button4 {
  background-color: #0039a6;
  color: white;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom:5px;
  height: 100px;
  transition: all 0.2s;
  font-size: 27px;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* box-shadow: 0px 4px 2px 0px; */
}

#button4:active {
  background-color: #022058;
}

#button5 {
  background-color: #ff6319;
  color: white;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom:5px;
  height: 100px;
  transition: all 0.2s;
  font-size: 23px;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* box-shadow: 0px 4px 2px 0px; */

}

#button5:active {
  background-color: #af4514;
}

#button6 {
  background-color: #6cbe45;
  color: white;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom:5px;
  height: 100px;
  transition: all 0.2s;
  font-size: 27px;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* box-shadow: 0px 4px 2px 0px; */

}

#button6:active {
  background-color: #3c6b26;
}

#button7 {
  background-color: #a7a9ac;
  color: white;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  height: 100px;
  transition: all 0.2s;
  font-size: 27px;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* box-shadow: 0px 4px 2px 0px; */
}

#button7:active {
  background-color: #59595a;
}

#button8 {
  background-color: #fccc0a;
  /* color: black; */
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  height: 100px;
  transition: all 0.2s;
  font-size: 23px;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* grid-column: 3; */
}

#button8:active {
  background-color: #7f6605;
}

/* ADA styling  */

#accessibilityButton {
  background-color: #0d56c4;
  color: white;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  height: 100px;
  transition: all 0.2s;
  font-size: 23px;
  box-shadow: 0px 4px 2px 0px rgb(109, 137, 146);
  /* grid-column: 2; */
}

#accessibilityButton:active {
  background-color: #082653;
}

/* Train Group Container Styling */
.line-btn-container {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.mta-line-btn {
  font-size: 28px;
  border: none;
  color: whitesmoke
  padding: 8px;
  text-align: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

#group-123 {
  background-color: #ee252e;
  color: white
}

#group-456 {
  background-color: #00933c;
  color: white
}

#group-7 {
  background-color: #b933ad;
  color: white
}

#group-ACE {
  background-color: #0039a6;
  color: white
}

#group-BDFM {
  background-color: #ff6319;
  color: white
}

#group-G {
  background-color: #6cbe45;
  color: white
}

#group-L {
  background-color: #a7a9ac;
  color: white
}

#group-NQRW {
  color: black;
  background-color: #fccc0a;
}

/* NAV SIDEBAR */

nav {
  width: 200px;
  height: 200px;
  margin-top: 16px;
  background-color: white;
  border: 3px solid black;
}

#sidebar-toggle-btn {
  background-color: transparent;
  border: none;
}

.sidebar {
  width: 100%;
  position: absolute;
  display: none;
}

.sidebar.open {
  display: block;
}

 /* #header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

} */

#header{
display: grid;
position: fixed;
text-align:center;
/* grid-column: 1/3; */
}

#sidebar{
  /* justify-content: center;
  text-align: center; */
  position: fixed;
  /* grid-column: 3/3; */
}

#container{
  overflow: scroll;
 
  /* position: absolute; */
  margin-top :100px;
  height: 600px;
  
}

/* .buttonC{
  position: fixed;
  width: 1000px;
  margin-bottom: 100px;
  
} */

#topBar{
  display:grid;
  grid-template-columns: repeat(3,3fs);
  /* background-color: lightblue; */
}

.eachstation{
  background-color: whitesmoke;
}