.fascinate-regular {
  font-family: 'Fascinate', system-ui;
  font-weight: 400;
  font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name */

.workbench-metro {
  font-family: 'Workbench', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'BLED' 0, 'SCAN' 0;
}

* {
  font-family: 'Workbench', sans-serif;
}

body {
  margin: 20px 4px;
}

h1 {
  color: #2360a5;
  margin: 30px;
  /* background-color: bisque; */
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: black;
}
.SubwayContainer {
  text-align: center;
  /* border-color: black;
  border-style: solid;
  border-radius: 100px;
  border-width: 5px; */
  height: 800px;
  overflow-y: scroll;
  /* background-color: aquamarine; */
}

.totalBox {
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  transition: all 0.3s;
  /* border-style: solid; */
  /* margin: 10px; */
}

/* .totalBox:hover{
  transform: translate(0%,-5%);
} */

.subwayLine {
  font-family: Arial, Helvetica, sans-serif;

  border-style: solid;
  border-radius: 100px;
  grid-column: 1;
  /* grid-row: span 2; */
  display: flex;
  margin-right: 10px;
  align-items: center; /* Center vertically */
  justify-content: center;
  box-shadow: 7px 7px 7px 0px;
}

.status {
  text-align: center;
  border-style: solid;
  justify-content: center;
  border-radius: 35px;
  grid-column: 2/6;
  margin-bottom: 10px;
  /* grid-row: 1; */
  box-shadow: 7px 7px 7px 0px;
  padding: 5px;
}

.additionalInformation {
  text-align: center;
  border-style: solid;
  border-radius: 35px;
  height: 100px;
  grid-column: 2/6;
  /* grid-row: 2; */
  
  padding: 5px;
}

/* accessiblity styling */

.accessibilityTotalComponent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-style: 2px solid;
  background-color: lightblue;
  padding: 10px;
  


 
}

.station{
  display: flex;
  justify-content: center;
  grid-column: 1; 
  border: 2px  black;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  background-color: #ecf0f1;
  padding: 5px;
  width: 130px;
  margin-left: 150px;
  box-shadow: 10px 5px 5px black;
  animation: fadeInUp 1s ease forwards; 
  /* animation: rotateAnimation 1s linear forwards; */
    position: absolute;
  margin-top: 200px;
 

 
}

.trainNo{
  grid-column: 2;
  grid-row: 1;
  padding: 10px; 
  border: 2px solid #2ecc71;
  border-radius: 10px; 
  background-color: #ebf3f4; 
  margin: 10px; 
  margin-right: 100px;
  animation: fadeInUp 1s ease forwards; 
  /* animation: rotateAnimation 1s linear forwards */
}

.outageDates{
  grid-column: 2;
  grid-row: 2;
  padding: 10px; 
  border: 2px solid #2ecc71;
  border-radius: 10px; 
  background-color: #ebf3f4; 
  margin: 10px; 
  margin-right: 100px;
  animation: fadeInUp 1s ease forwards; 
}

.estimatedReturntoService{
  grid-column: 2;
  grid-row: 3;
  padding: 10px; 
  border: 2px solid #2ecc71;
  border-radius: 10px; 
  background-color: #ebf3f4; 
  margin: 10px; 
  margin-right: 100px;
  animation: fadeInUp 1s ease forwards; 

}

.ADA{
  grid-column: 2;
  grid-row: 4;
  padding: 10px; 
  border: 2px solid #2ecc71;
  border-radius: 10px; 
  background-color: #ebf3f4; 
  margin: 10px; 
  margin-right: 100px;
  animation: fadeInUp 1s ease forwards; 
  /* animation: rotateAnimation 1s linear forwards */
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

}

/* button styling */

#buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 15px;
}

#button1 {
  border-color: #ee252e;
  border-width: 4px;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  height: 100px;
  transition: all 0.2s;
  font-size: 27px;
  box-shadow: 0px 4px 2px 0px;
  background-color: white;
}

#button1:active {
  background-color: #ee252e;
}

/* #button1:hover{
  transform: translate(8px);
} */

#button2 {
  border-width: 4px;
  border-color: #00933c;
  border-width: 4px;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  height: 100px;
  font-size: 27px;
  transition: all 0.2s;
  box-shadow: 0px 4px 2px 0px;
  background-color: white;
}

#button2:active {
  background-color: #00933c;
}
#button3 {
  border-color: #b933ad;
  border-width: 4px;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  height: 100px;
  font-size: 27px;
  transition: all 0.2s;
  box-shadow: 0px 4px 2px 0px;
  background-color: white;
}
#button3:active {
  background-color: #b933ad;
}

#button4 {
  border-color: #0039a6;
  border-width: 4px;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  height: 100px;
  transition: all 0.2s;
  font-size: 27px;
  box-shadow: 0px 4px 2px 0px;
  background-color: white;
}

#button4:active {
  background-color: #0039a6;
}

#button5 {
  border-color: #ff6319;
  border-width: 4px;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  height: 100px;
  transition: all 0.2s;
  font-size: 23px;
  box-shadow: 0px 4px 2px 0px;
  background-color: white;
}

#button5:active {
  background-color: #ff6319;
}

#button6 {
  border-color: #6cbe45;
  border-width: 4px;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  height: 100px;
  transition: all 0.2s;
  font-size: 27px;
  box-shadow: 0px 4px 2px 0px;
  background-color: white;
}

#button6:active {
  background-color: #6cbe45;
}

#button7 {
  border-color: #a7a9ac;
  border-width: 4px;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  height: 100px;
  transition: all 0.2s;
  font-size: 27px;
  box-shadow: 0px 4px 2px 0px;
  background-color: white;
}

#button7:active {
  background-color: #a7a9ac;
}

#button8 {
  border-color: #fccc0a;
  border-width: 4px;
  /* color: black; */
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  height: 100px;
  transition: all 0.2s;
  font-size: 23px;
  box-shadow: 0px 4px 2px 0px;
  background-color: white;
  /* grid-column: 3; */
}

#button8:active {
  background-color: #fccc0a;
}

#accessibilityButton{
  background-color: #A7A9AC;
  color: black;
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  height: 100px;
  transition: all 0.2s;
  font-size: 23px;
  box-shadow: 0px 4px 2px 0px;
  /* grid-column: 2; */
}

/* Train Group Container Styling */
.line-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.mta-line-btn {
  font-size: 28px;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

#group-123 {
  background-color: #ee252e;
}

#group-456 {
  background-color: #00933c;
}

#group-7 {
  background-color: #b933ad;
}

#group-ACE {
  background-color: #0039a6;
}

#group-BDFM {
  background-color: #ff6319;
}

#group-G {
  background-color: #6cbe45;
}

#group-L {
  background-color: #a7a9ac;
}

#group-NQRW {
  color: black;
  background-color: #fccc0a;
}
